@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  --font-display: 'Urbanist', sans-serif;
  --breakpoint-3xl: 1920px;
  --color-primary: #6FE047;
}

@layer base {
  html {
    font-family: var(--font-display);
    scroll-behavior: smooth;
  }
  body {
    --webkit-font-smoothing: antialiased;
    --moz-osx-font-smoothing: grayscale;
    background-color: #000000;
    color: #FFFFFF;
    overflow-x: hidden;
    overflow-y: auto;
  }

  /* custom Scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #0a0a0a;
  }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #8Dff69, #6FE047);
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #A8FF8D, #5BC92E);
  }

  /* firefox Scrollbar */
  * {
    scrollbar-width: thin;
    scrollbar-color: #6FE047 #0a0a0a;
  }

  /* hide scrollbar for carousel */
  .hide-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
 }

 /* line clamp */
 .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
 }

 .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
 }

}

button {
  cursor: pointer;
}